<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="game" widht="500" height="500"></canvas>
    <ul id="messages"></ul>
    <form id="message_form" action="#">
    	<input id="input_msg" /><button>send</button>
    	<script src="javascripts/client.js"></script>
    </form>
  </body>
</html>
